# 5 STRUCTURED TYPES, MUTABILITY, AND HIGHERORDER FUNCTIONS

The numeric types `int` and `float` are **scalar(标量)** types. That is to say, objects of these types have **no accessible internal structure**. 

In contrast, `str` can be thought of as a `structured, or non-scalar`, type. One can use indexing to extract individual characters from a string and slicing to extract substrings.

In this chapter, we introduce `four additional structured types`. 

* <b style="color:blue">tuple</b>(元组）, is a rather simple generalization of `str`. 

* <b style="color:blue">list</b>(列表）

* range

* <b style="color:blue">dict</b>(字典） —are more **interesting**. 

We also return to the topic of <b style="color:blue">functions</b> with some examples that illustrate the utility of being able to treat functions in the same way as other types of objects.

## 5.1 Tuples

Like `strings`, **tuples** are <b style="color:blue">immutable ordered sequences</b> of elements. 

The difference is that the elements of a tuple need <b style="color:blue">not be characters</b>. The individual elements can be of
<b style="color:blue">any type</b>, and need <b style="color:blue">not be of the same type</b> as each other


Literals of type `tuple` are written by enclosing a <b style="color:blue">comma-separated ,</b> list of elements <b style="color:blue">within parentheses( )</b>

In [1]:
t1 = () # empty tuple

t2 = (1, 'two', 3) #  1）any type; 2） not be of the same type as each other.
student=('Name',22)
print(t1)
print(t2)
print(student)

()
(1, 'two', 3)
('Name', 22)

Looking at this example, you might naturally be led to believe that the tuple containing the `single value 1` would be written `(1)`. But, to quote [Richard Nixon](https://en.wikipedia.org/wiki/Richard_Nixon), `“that would be wrong.”`

Since parentheses`( )` are used to `group expressions`,<b  style="color:blue">(1)</b> is `merely` a verbose way to write the `integer 1`.

In [5]:
a=(1)
a

1

In [7]:
b=(a+2,)
b

(3,)

In [4]:
a=(1,)
a

(1,)

To denote <b  style="color:blue">the singleton tuple</b> containing this value, we write <strong style="color:red">(1 ,)</strong>

**Almost everybody who uses Python has at one time or another accidentally omitted that annoying `comma`.**

In [ ]:
expre=('10+1')

tsingleton=('10+1',)  # comma-separated 

print(expre)
print(type(expre))

print('\nThe singleton tuple containing this value')
print(tsingleton)
print(type(tsingleton))

**Repetition** can be used on tuples. For example, the expression `3*('a', 2)` evaluates to `('a', 2, 'a', 2, 'a', 2).`

In [8]:
3*('a', 2)

('a', 2, 'a', 2, 'a', 2)

<b>Like string</b> ,Tuples can be <b style="color:blue">concatenated</b>, <b style="color:blue">indexed</b>, and <b style="color:blue">sliced</b>.(indexing <strong style="color:blue">starts at 0</strong>)

<b style="color:blue">concatenated</b>

In [9]:
t1 = (1, 'two', 3)

t2 = (t1, 3.25)   #  any type,tuples can contain tuples

print('t2=',t2)

print('t1+t2=',t1 + t2)  # + concatenated

t2= ((1, 'two', 3), 3.25)
t1+t2= (1, 'two', 3, (1, 'two', 3), 3.25)

<b style="color:blue">indexed</b>

In [10]:
print('(t1 + t2)[3]=',(t1 + t2)[3]) # [3] indexed tuple :as always in Python, indexing starts at 0

(t1 + t2)[3]= (1, 'two', 3)

<b style="color:blue">sliced</b>.(indexing <strong style="color:blue">starts at 0</strong>)

In [11]:
print('(t1 + t2)[2:4]=',(t1 + t2)[2:4]) # [2:5] sliced

(t1 + t2)[2:4]= (3, (1, 'two', 3))

The second assignment statement binds the name t2 to a tuple that contains the tuple to which t1 is bound and the floating point number 3.25. This is possible because a tuple, like everything else in Python, is an object, so tuples can contain tuples.
Therefore, the first print statement produces the output,
```python
((1, 'two', 3), 3.25)
```

The second print statement prints the value generated by concatenating the values bound to t1 and t2, which is a tuple with five elements. It produces the output
```python
(1, 'two', 3, (1, 'two', 3), 3.25)
```
The next statement selects and prints the fourth element of the concatenated tuple (as `always` in Python, `indexing starts at 0`), and the statement after that creates and prints a slice of that tuple, producing the output
```python
(1, 'two', 3)
(3, (1, 'two', 3))
```

### Tuples are <b style="color:blue">immutable<b>
    
The tuples cannot be modified after they are created.
 
if you try to modify one of the elements of the tuple, you get an error:

```python
TypeError: 'tuple' object does not support item assignment
```

In [14]:
t1 = (1, 'two', 3)
t1[0]='A'

TypeError: 'tuple' object does not support item assignment

Because tuples are immutable, you can’t modify the elements. 

You can replace one tuple with another,

This statement makes a **new tuple** and then makes `t1` refer to it.

In [13]:
t1 = ('A',) + t1[1:]
t1

('A', 'two', 3)

### `for` e  in seq

A <b  style="color:blue">for</b> statement can be used to <b style="color:blue">iterate over the elements</b> of a `tuple`.

In [15]:
t1 = (1, 'two', 3)
for e in t1:
    print(e)

1
two
3

In [17]:
def intersect(t1, t2):
    """Assumes t1 and t2 are tuples
        Returns a tuple containing elements that are in
        both t1 and t2
    """
    result = ()
    for e in t1:
        if e in t2:
            result = result + (e,)
    return result

t1 = (1,2, 'two', 3,4)
t2 = (1,4)
result=intersect(t1, t2)
print(result)

TypeError: can only concatenate tuple (not "int") to tuple

### Operators and Functions on tuples

You can operate on tuples using (supposing that tup is a tuple):
    
* built-in functions such as `len(tup)`;

* built-in functions for tuple of numbers such as `max(tup), min(tup) and sum(tup)`

Tuple methods: 

* `count(e)` : counts the number of occurrences of a value e

* `index(e)`: return the index of the first  occurrences of e in tup,or error

In [19]:
tup=(1,2,2,3)
len(tup)

4

In [20]:
max(tup), min(tup), sum(tup)

(3, 1, 8)

In [21]:
tup.count(2)

2

In [23]:
tup.index(4)

ValueError: tuple.index(x): x not in tuple

## 5.2 Sequences and Multiple Assignment

If you know the <b>length of a sequence</b> (e.g., a tuple or a string),

it can be convenient to use Python’s <b>multiple assignment</b> statement to extract the individual elements.

* **Sequence unpacking**

In [24]:
# Sequence unpacking
x, y ,z= (3, 4,5)
a, b, c = 'xyz'

print('x=',x,' y=',y)
print('a=',a,' b=',b,' c=',c)

x= 3  y= 4
a= x  b= y  c= z

This mechanism is particularly convenient when used in 

* <b>conjunction with functions that return `fixed-size` sequences</b>.

In [29]:
def bisection(func,low,high,k,epsilon):
    ans = (high + low)/2.0
    numGuesses = 0
    while abs(func(ans,k)) >= epsilon:
        numGuesses += 1
        if ans**2 < k:
            low = ans
        else:
            high = ans
        ans = (high + low)/2.0
    return ans,numGuesses

In [30]:
def func1(x,k):
    return x**2-k

k = 25
epsilon = 0.01
low = 0.0
high = max(1.0, k)   # build-in function

ans,numGuesses=bisection(func1,low,high,k,epsilon)
print('numGuesses =', numGuesses)
print(ans, 'is close to square root of', k)

numGuesses = 13
5.00030517578125 is close to square root of 25

In [31]:
# tuple 
results = bisection(func1,low,high,k,epsilon)  
print(results)
print('ans=', results[0])
print('numGuesses=', results[1])

(5.00030517578125, 13)
ans= 5.00030517578125
numGuesses= 13