# List



## 1 The list is a sequence

Like a tuple,a **list** is an <b>ordered sequence</b> of values, where each value is <b>identified by an index </b>. 

The syntax for expressing literals of type list is similar to that used for tuples; 

the difference is that we use square brackets <b style="color:blue">[ ]</b> rather than parentheses(). 

As with tuples, a **for** statement can be used to iterate over the elements of a list.

So, for example, the code,

In [1]:
L = ['I did it all', 4, 'love']  # square brackets []

for li in L:
    print(li)

I did it all
4
love

In [2]:
for i in range(len(L)):
    print(L[i])

I did it all
4
love

The <b>empty list</b> is written as <b style="color:blue">[]</b>

**Singleton lists** are written <b>without comma</b> before the closing bracket.

In [3]:
Lempty=[]   #empty list

Lonly1=[10] # singleton list: without comma

print('empty list:',Lempty)

print(type(Lonly1))
print(Lonly1)

empty list: []
<class 'list'>
[10]

Occasionally, the fact that Square brackets  $[]$ are used for 

* 1 **literals** of type list

* 2 **indexing** into lists, and

* 3 **slicing** lists

can lead to some `visual confusion`. 

For example:the expression `[1,2,3,4][1:3][1]`, which evaluates to 3, uses the square brackets in three different ways.

In [6]:
L1=[1,2,3,4]
print(L1)  #  literals of typel ist

print(L1[1:3]) # slicing list

print(L1[1:3][1]) # licing list,then indexing into sliced list

[1, 2, 3, 4]
[2, 3]
3


This is rarely a problem in practice, because most of the time lists are `built incrementally` rather than `written as literals`.

## 2 lists are` mutable`

Lists differ from tuples in one hugely important way: <b style="color:blue">lists are mutable</b>

**tuples and strings** are `immutable`

* the objects of `immutable` types **cannot be modified `after they are created`**.

**lists are` mutable`**

* The `list` **can be modified `after they are created`**.

Mutating an object: `modify in place` without creating a new object

When the bracket operator[] appears on the left side of an assignment, it identifies the element of the list that will be assigned.

In [1]:
L = ['I did it all', 4, 'love'] 
L[1] = 5
L

['I did it all', 5, 'love']

## 3 Append , concatenation(+)  and extend list

### append

`append` one list  to another, the `original structure is `**maintained**. 

**mutated** L1.

In [2]:
L1 = [1,2,3]
L2 = [4,5,6]
print(id(L1))
L1.append(L2)
print(L1)

1958540199560
[1, 2, 3, [4, 5, 6]]

[1, 2, 3, 4, 5, 6]

In [11]:
print('L1.append(L2),L1 =', L1)
print('mutated L1:id L1.append(L2)=',id(L1))

L1.append(L2),L1 = [1, 2, 3, [4, 5, 6]]
mutated L1:id L1.append(L2)= 2049676936128

**`append` one `item` to the `list`, the `original structure is maintained`.**

In [12]:
L1 = [1,2,3]
i1 = 4
L1.append(i1)
print(L1)

[1, 2, 3, 4]

In [13]:
L1 = [1,2,3]
t2 = (4,5,6)
L1.append(t2)
print(L1)

[1, 2, 3, (4, 5, 6)]

Since `lists` are **mutable**, they can be **constructed incrementally** during a computation.

For example, the following code incrementally builds a list containing all of the `even` numbers in another list.

In [14]:
L=[1, -2, 3.33,4]
evenElems = []
for e in L:
    if e%2 == 0:
        evenElems.append(e)
        
print(evenElems)

[-2, 4]

### Concatenating lists：+ 
 
the operator(concatenation): `+` does not have a side effect. 

It creates **a new list** and returns it.

In [15]:
L1 = [1,2,3]
L2 = [4,5,6]

#  +  creates a new list
L3 = L1 + L2 
print('L3= L1 + L2,L3 ', L3)

L3= L1 + L2,L3  [1, 2, 3, 4, 5, 6]

append [1, 2, 3, [4, 5, 6]]

In [16]:

print('id L1=',id(L1))
print('id L2=',id(L2))
print('a new list:id L3=',id(L3))

id L1= 2049677889472
id L2= 2049678101632
a new list:id L3= 2049678101888

###  Combining lists：extend

If you have a list already defined, you can append multiple `elements` to it using the `extend` method:

**mutated** L1.

* add items in the `list` L2 to the end of list L1

In [17]:
# extend : add items in the list L2 to the end of list L1
L1 = [1,2,3]
L2 = [4,5,6]
L1.extend(L2) # 1
print('L1.extend(L2) ,L1 =', L1)

L1.extend(L2) ,L1 = [1, 2, 3, 4, 5, 6]

* append [1, 2, 3, [4, 5, 6]]

In [18]:
print('mutated L1: id L1.extend(L2)=',id(L1))

mutated L1: id L1.extend(L2)= 2049678100864

* add **items** in `tuple` t2  to the end of list L1

In [19]:
L1 = [1,2,3]
t2 = (4,5,6)
L1.extend(t2) # 1
print('L1.extend(L2) ,L1 =', L1)
print('mutated L1: id L1.extend(L2)=',id(L1))

L1.extend(L2) ,L1 = [1, 2, 3, 4, 5, 6]
mutated L1: id L1.extend(L2)= 2049677866112

* add items in `string` str2  to the end of list L1

In [20]:
L1 = [1,2,3]
str2 = "456"
L1.extend(str2) # 1
print('L1.extend(L2) ,L1 =', L1)
print('mutated L1: id L1.extend(L2)=',id(L1))

L1.extend(L2) ,L1 = [1, 2, 3, '4', '5', '6']
mutated L1: id L1.extend(L2)= 2049676936128

## 4 The List's Operators and Methods

* Common Operators and Functions with Sequence Types 

* Common Operators and Functions with Sequence Types 

https://docs.python.org/tutorial/datastructures.html#more-on-lists

### 4.1 Common Operators and Functions with Sequence Types

In [21]:
L=[1,3,5,3,6,7]

In [22]:
5 in L

True

In [24]:
5 not in L

False

In [25]:
L.count(3)

2

In [27]:
L.index(3)

1

#### Slicing

>Recap:
> [Unit1-1-INTRODUCTION_TO_PYTHON: Slicing String](./Unit1-1-INTRODUCTION_TO_PYTHON.ipynb)
>
>**Strings are one of several sequence types in Python** 
>
>**They `share` the following operations with `all sequence` types.**
>
>* **Slicing** is used to extract substrings of arbitrary length. If s is a string, the expression <b>s[start:end] </b> denotes the >substring of s that starts at index `start` and ends at index <b>end-1</b>.

You can select sections of most sequence types by using slice notation, which in its basic form consists of `start:stop` passed to the indexing operator `[]`:

In [28]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

Slices can also be `assigned` to with a sequence:

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[3:4]

**list is mutable**

In [29]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [30]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

the element of seq[3:4] `[7]` is replaces by the  `[6, 3]`

While the element at the `start` index is `included`, the `stop` index is `not included`, so that the number of elements in the result is `stop - start`.

Either `the start or stop can be omitted`, in which case they default to the start of the sequence and the end of the sequence, respectively:

the start is omitted

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[:5]

the stop is omitted

In [ ]:
seq[3:]

`Negative` indices slice the sequence `relative to the end`:

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[-4:]

In [ ]:
seq[-6:-2]

The Last item

In [ ]:
seq[-1:]

A `step` can also be used after a second colon to, say, take `every other` element:

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[::2]

A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:

In [ ]:
seq[::-1]

### 4.2 Common List Operators and Functions(mutable Sequences) :

* `Assignment` via [i], [-i] (indexing) and [m:n:step] (slicing)

* `Assignment` via =, += (compound concatenation), *= (compound repetition)

* del L[i]: delete the item at index i in L 

* L.clear(), remove all the items from the lst and return None; same as del L[:].

* L.remove(e),  deletes the first occurrence of e from L

* L.append(e), adds the **object** e to the end of L.

* L1.extend(L2), adds **items** in the list L2 to the end of list L1

* L.insert(i, e), inserts the object e into L at index i.

* L.pop(i), removes and returns the item at index i; i defaults to -1. Raises IndexError if L
is empty.

* L.copy(): return a copy of L; same as L[:]

* L.reverse(): has the side effect of reversing the order of the elements in L.

* L.sort(): arranges the elements of the list from low to high.

Using `insert` you can insert an element at a specific `location` in the list:

In [31]:
L = [1,2,3]
L.insert(1, 'red')
L

[1, 'red', 2, 3]

The insertion index must be between `0 and the length of the list`, inclusive.

The inverse operation to insert is `pop`, which `removes` and returns `an element` at a particular `index`:

In [32]:
L.pop(2)

2

In [33]:
L

[1, 'red', 3]

`Elements` can be `removed` by `value` with **remove**, which locates the `first such value` and removes it from the last:

In [34]:
L = [1,2,'red',3,'red']
L.remove('red')
L

[1, 2, 3, 'red']

##### sort
You can sort a list `in-place (without creating a new object)` by calling its `sort` function:

In [35]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

`sort` has a few options that will occasionally come in handy. One is the ability to pass a secondary sort **key**—that is, `a function` that produces a value to use to sort the objects.

For example, we could sort a collection of strings by their `lengths`

In [36]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

##### reverse

reverse the order of element in L

In [37]:
b.reverse()
b

['foxes', 'small', 'six', 'saw', 'He']

In [39]:
L=[1,2,7,3]
L.reverse()
L

[3, 7, 2, 1]

## 5 Aliasing(别名)

### 5.1 Aliasing
Consider the code,it `mutates` the lists

In [4]:
Techs = ['MIT', 'Caltech']

# through the variable USATechs
USATechs=Techs  # create the aliase of Techs 

USATechs[0]='USA-MIT'

#Techs[0]='USA-MIT'

print("Tech",Techs)
print("USATechs",USATechs)

Tech ['USA-MIT', 'Caltech']
USATechs ['USA-MIT', 'Caltech']

In [50]:
# through the variable Techs
Techs[0]='MIT'
print(Techs)
#USATechs[0]='USA-MIT'
print(USATechs)

['MIT', 'Caltech']
['MIT', 'Caltech']

In [53]:
print(id(Techs))
print(id(USATechs))
addnewname=Techs
print(id(Techs))

2049678126848
2049678126848
2049678126848

Here is  called **aliasing**(别名). 

There are `two distinct paths` to the `same` list object

* One path is through the variable `USATechs`

* the other is through the variable `Techs`

One can `mutate` the object via `either` path, and the effect of the `mutation` will be visible through both paths. 

**Unintentional `aliasing` leads to programming errors that are often enormously hard to track down**.

**varibale: name is not the object,it is the refernce to the object**

### 5.2 Variable and Objects

In [62]:
a=1

* 1 is the object，integer type
* a is the name of object 1

An assignment statement: associates the `name` with `an object`

```python
Variable(the name of object)=object
```

#### 5.2.1  Objects

**Objects** are the core things that Python programs manipulate. Every object has a **type** that defines the kinds of things that programs can do with objects of that type.

#### 5.2.2   A variable is just a name of object
 
Python is `dynamically typed`, which means that **a variable** is **just a name of an `object`**.

* `Variables`  is not the object

An object can have `one`, `more than one`, or `no` **name** associated with it.


><b style="color:blue">id(object)</b>
>
>Return the `“identity”` of an object. This is an integer which is guaranteed to be `unique and constant` for this object during its lifetime.


For example:

In [63]:
# x is the name of the object 2337
x=2337
print(" 2337 id x ",id(x))

# x is the name of  the object 2338
x=2338
# y is the name of  the object 2338
y=x
print(" 2338 id x ",id(x))
print(" 2338 id y ",id(y))

 2337 id x  2049678219024
 2338 id x  2049678219536
 2338 id y  2049678219536

Variables `x,y` are `2338`'s `names`’- **more than one name**

* object: 2338 

* names of the object: 2338: `x,y` 

![](./img/python-name.jpg)

In dynamic languages,**variable names are stored in memory** while the program runs

In [ ]:
print(locals())

## 6 Cloning

It is usually prudent to **avoid mutating a list over which one is `iterating`**.

Consider, for example, the code

In [5]:
def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
    for e1 in L1:
       
        # display mutation：L1.remove(e1)
        print('Current Item=',e1) 
        print('Current len(L1)=',len(L1))  
       
        print('L1=',L1,'\n')
        
        if e1 in L2:
            L1.remove(e1) # mutation：L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]

removeDups(L1, L2)
# 1,2
# L1=[3,4]
print('\n removeDups L1 =', L1)

Current Item= 1
Current len(L1)= 4
L1= [1, 2, 3, 4]

Current Item= 3
Current len(L1)= 3
L1= [2, 3, 4]

Current Item= 4
Current len(L1)= 3
L1= [2, 3, 4]


 removeDups L1 = [2, 3, 4]

### 6.1 Slicing to clone 

make a copy of the list and write 
     
```python     
     for e1 in L1[:]:
```

In [6]:
def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
 
    for e1 in L1[:]: # use slicing to clone
        
        print('Current Item=',e1) 
        print('Current len(L1)=',len(L1))  
       
        print('L1=',L1,'\n')
        
        if e1 in L2:
            L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]
removeDups(L1, L2)
print('\n removeDups L1 =', L1)

Current Item= 1
Current len(L1)= 4
L1= [1, 2, 3, 4]

Current Item= 3
Current len(L1)= 3
L1= [2, 3, 4]

Current Item= 4
Current len(L1)= 3
L1= [2, 3, 4]


 removeDups L1 = [2, 3, 4]

<b style="color:red">newL1 = L1</b> merely have introduced <b style="color:red">a new name for L1</b>

* Assignment statements in Python do not copy objects, they create bindings between a target and an object.

In [56]:
def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
    
    newL1=L1  # Assignment statements in Python do not copy objects, 
              # they create bindings between a target and an object.
    
    for e1 in newL1:
        
        print(len(L1))  # display mutation
        print('L1=',L1)
        
        if e1 in L2:
            L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]
removeDups(L1, L2)
print('\n removeDups L1 =', L1)

4
L1= [1, 2, 3, 4]
3
L1= [2, 3, 4]
3
L1= [2, 3, 4]

 removeDups L1 = [2, 3, 4]

### 6.2  list(L) returns a copy of the list L.

* list(sequence) : return the new list from the sequence

In [57]:
def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
    
    newL1=list(L1)  # a copy of the list L1
    
    for e1 in newL1:
        
        print(len(L1))  # display mutation
        print('L1=',L1)
        
        if e1 in L2:
            L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]
removeDups(L1, L2)
print('\n removeDups L1 =', L1)

4
L1= [1, 2, 3, 4]
3
L1= [2, 3, 4]
2
L1= [3, 4]
2
L1= [3, 4]

 removeDups L1 = [3, 4]

### 6.3  Shallow and deep copy

Python: copy — Shallow and deep copy operations

https://docs.python.org/3/library/copy.html

`Assignment` statements in Python do not copy objects, they create `bindings` between a `target` and an `object`.

For collections that are `mutable` or contain mutable items, a `copy` is sometimes needed so one can `change one copy` without changing the other.

This module provides generic `shallow and deep copy` operations (explained below).

**Interface summary:**

* `copy.copy(x)`: Return a shallow copy of x.

* `copy.deepcopy(x)`: Return a deep copy of x.

The difference between shallow and deep copying is only relevant for `compound objects (objects that contain other objects`, like lists or class instances):

* A shallow copy constructs a new compound object and then (to the extent possible) inserts references into it to the objects found in the original.

* A deep copy constructs a new **compound** object and then, recursively, inserts copies into it of the objects found in the original.

#### 6.3.1 The example of `copy.copy(x)`

In [ ]:
import copy

def removeDups(L1, L2):
    """Assumes that L1 and L2 are lists.
       Removes any element from L1 that also occurs in L2"""
    
    newL1=copy.copy(L1)  # a copy of the list L1
    
    for e1 in newL1:
        
        print(len(L1))  # display mutation
        print('L1=',L1)
        
        if e1 in L2:
            L1.remove(e1)

L1 = [1,2,3,4]
L2 = [1,2,5,6]
removeDups(L1, L2)
print('\n removeDups L1 =', L1)

#### 6.3.2 The example of `copy.deepcopy(x)`

* https://github.com/PySEE/PyRankine

### 6.4 Cloning Methods

<strong style="color:blue;font-size:100%">slicing：L1[:]</strong>

<strong style="color:blue;font-size:100%">list(L1)</strong>

<strong style="color:blue;font-size:100%">copy.copy(x)</strong>

<strong style="color:blue;font-size:100%">copy.deepcopy(x)</strong>

## 7 List Comprehension

List comprehension provides a concise way to apply an operation to the values in a sequence.

It creates `a new list` in which each element is the result of applying a given operation to a value from a sequence 

```python
[expr for var in list]
```

In [58]:
L = [x**2 for x in range(1,7)]
print(L)

[1, 4, 9, 16, 25, 36]

In [59]:
L =[]
for x in range(1,7):
    L.append(x**2)
print(L)

[1, 4, 9, 16, 25, 36]

The `for` clause in a list comprehension can be <b>followed</b> by one or more 

* <b>if </b> statements 

* <b>for</b> statements 

that are applied to the values produced by the `for` clause.

* `if` statements

In [60]:
mixed = [1, 2, 'a', 3, 4.0]
print([x**2 for x in mixed if type(x) == int])

[1, 4, 9]

* `for` statements

In [61]:
print([x*y for x in [1,2,3] for y in  [1,2,3]])

[1, 2, 3, 2, 4, 6, 3, 6, 9]

Remember that somebody else may need to **read your code**

* <b style="color:blue">subtle</b>  is **not** usually a **desirable** property

### Further Reading：Python Tutorial

* 5.1.3 List Comprehensions https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions

* 5.1.4 Nested List Comprehensions https://docs.python.org/3/tutorial/datastructures.html#nested-list-comprehensions

# B Sequence：Strings, Tuples, Lists and Range

We have looked at three different sequence types: `str, tuple, and list`. 

* String：immutable characters

* Tuple: immutable fix-sized array

* List: mutable dynamic array

* Range: an immutable sequence of numbers 

Some of their other similarities and differences are summarized in the Figure

![fig57](./img/fig57.jpg)

## 1 Common Operators and Functions on Sequence Types

They are similar in that objects of of these types can be operated upon as described:

* `e in seq` tests whether e is contained in the sequence.

* `e not in seq` tests whether e is not contained in the sequence.

* `seq1 + seq2`: concatenation, concatenates the two sequences. 

* `n*seq`: repetition,returns a sequence that repeats seq n times.

* `seq[i], seq[-i]`: indexing,returns the ith/-ith element in the sequence.

* `[m:n:step]`: slicing, returns a slice of the sequence.

* `len(seq), min(seq), max(seq)`

* `seq.index(e)` returns the index of the first occurrence of e in seq. Raises ValueError if e not
in seq.

* `seq.count(e)` returns the number of times that e occurs in  seq.

* `for e  in seq`: iterates over the elements of the sequence

## 2 Built-in Methods of strings

Since strings can contain only characters, there are <b>many built-in methods</b> that make life easy

Keep in mind that since strings are immutable these all return values and have no side effect.
<p>
<img src="./img/fig58.PNG"/>

In [7]:
s='David Guttag plays basketball David'
s.find('David')

0

In [8]:
# from the end of string
s.rfind('David')

30

In [9]:
s="David Guttag plays basketball     "  # trailing whitespace space
s.rstrip()

'David Guttag plays basketball'

### 2.1  split

One of the more useful built-in methods is `split`, which takes two strings as arguments. The second argument specifies a separator that is used to split the first argument into a sequence of substrings. For example,

* s.split(d): Splits `s` using `d` as a delimiter

In [10]:
print('My favorite professor--John G.--rocks'.split(' '))
print('My favorite professor--John G.--rocks'.split('-'))
print('My favorite professor--John G.--rocks'.split('--'))

['My', 'favorite', 'professor--John', 'G.--rocks']
['My favorite professor', '', 'John G.', '', 'rocks']
['My favorite professor', 'John G.', 'rocks']

In [11]:
s='David*Guttag*plays*basketball'
s.split('*')

['David', 'Guttag', 'plays', 'basketball']

In [ ]:
s

### 2.2  whitespace  characters:

The second argument is optional. If that argument is omitted the first string is split using arbitrary strings of whitespace characters (space, tab, newline, return, and formfeed).

If `d` is omitted,
```python
s.split()
```
the substrings are seperated by  whitespace  characters:

|space| tab |newline | return |formfeed|
|:---:|----:|-------:|-------:|------:|
|  space    |  \t |  \n  | \r    |  \f  |

In [12]:
s='David\t Guttag \n plays\r basketball\f whitespace characters '
s.split()

['David', 'Guttag', 'plays', 'basketball', 'whitespace', 'characters']

In [13]:
print(s)

David	 Guttag
 basketball whitespace characters

### 2.3 s.split(d) to read plain text files:

* [Data Table Files](./Unit1-5-Files.ipynb)


* [Unit2-3-UNDERSTANDING_EXPERIMENTAL_DATA](./Unit2-3-UNDERSTANDING_EXPERIMENTAL_DATA.ipynb)

## 3 Further Reading: Built-in Sequence Functions

Python has a handful of useful sequence functions that you should familiarize yourself with and use at any opportunity.

### 3.1 enumerate

It’s common when iterating over a sequence to want to keep `track of the index` of the current item. 

A do-it-yourself approach would look like:

```python
i = 0
for value in collection:
    # do something with value
    i += 1
```
Since this is so common, Python has a built-in function, `enumerate`, which returns a sequence of `(i, value)` tuples:
```python
for i, value in enumerate(collection):
    # do something with value
```
When you are indexing data, a helpful pattern that uses` enumerate` is computing a `dict` mapping the values of a sequence (which are assumed to be unique) to their locations in the sequence:

In [1]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

The `sorted` function accepts the same arguments as the sort method on lists.

### 3.2 zip

`zip` “**pairs**” up the elements of a number of lists, tuples, or other sequences to create **a list of `tuples`**:

In [2]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

`zip` can take an `arbitrary number` of sequences, and the number of elements it produces is determined by the `shortest` sequenc

In [3]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

A very common use of `zip` is `simultaneously iterating over multiple` sequences, possibly also combined with `enumerate`:

In [4]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

Given a “zipped” sequence, `zip` can be applied in a clever way to “unzip” the sequence. Another way to think about this is converting a list of `rows` into a list of `columns`. The syntax, which looks a bit magical, is:

List rows: ('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')


List columns:

 | first_names | last_names  |
 | ----------- |:-----------:|
 | Nolan       |   Ryan      |
 |  Roger      |  Clemens    | 
 |Schilling    |  Curt       ||``

In [5]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [6]:
last_names

('Ryan', 'Clemens', 'Curt')